flow1input-2output.json
[
    {
        "id": "6a5bfb72.7a3b54",
        "type": "tab",
        "label": "Flow 1 (RPi/Input)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4fdf6262.065bac",
        "type": "tab",
        "label": "Flow 2 (RPi/Output)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c4151c9b.5625c",
        "type": "wiotp-credentials",
        "z": "",
        "name": "",
        "org": "e2g2tr",
        "serverName": "",
        "devType": "raspberrypi",
        "devId": "0800278ef483",
        "keepalive": "60",
        "cleansession": true,
        "tls": "",
        "usetls": false
    },
    {
        "id": "7613ee6b.f5dc9",
        "type": "inject",
        "z": "6a5bfb72.7a3b54",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 140,
        "wires": [
            [
                "776f143d.114f6c"
            ]
        ]
    },
    {
        "id": "776f143d.114f6c",
        "type": "random",
        "z": "6a5bfb72.7a3b54",
        "name": "",
        "low": "1",
        "high": "10",
        "inte": "true",
        "property": "payload",
        "x": 300,
        "y": 140,
        "wires": [
            [
                "d781bf42.6646f"
            ]
        ]
    },
    {
        "id": "d781bf42.6646f",
        "type": "function",
        "z": "6a5bfb72.7a3b54",
        "name": "Format data",
        "func": "msg.payload = { 'd' : { 'random' :  msg.payload }};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 140,
        "wires": [
            [
                "385824c7.4eaa0c",
                "9acc43c1.d00d"
            ]
        ]
    },
    {
        "id": "385824c7.4eaa0c",
        "type": "debug",
        "z": "6a5bfb72.7a3b54",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 700,
        "y": 140,
        "wires": []
    },
    {
        "id": "9acc43c1.d00d",
        "type": "wiotp out",
        "z": "6a5bfb72.7a3b54",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "c4151c9b.5625c",
        "deviceType": "",
        "deviceId": "",
        "event": "event",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 670,
        "y": 220,
        "wires": []
    },
    {
        "id": "c88701ab.9082c",
        "type": "debug",
        "z": "4fdf6262.065bac",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 400,
        "y": 140,
        "wires": []
    },
    {
        "id": "dcbbfd66.4570e",
        "type": "wiotp in",
        "z": "4fdf6262.065bac",
        "authType": "d",
        "deviceKey": "c4151c9b.5625c",
        "deviceType": "",
        "deviceId": "",
        "command": "+",
        "commandType": "g",
        "qos": 0,
        "name": "",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "c88701ab.9082c"
            ]
        ]
    }
]